@{
    ViewBag.Title = "Home Page";
}



<div>
    <ul>
        @foreach (string country in ViewBag.Countries)
        {
        <li>@country</li>
        }
    </ul>
</div>
<div>
    <ul>
        @foreach (string country in (List<string>)ViewData["MyList"])
        {
            <li>@country</li>
        }
    </ul>
</div>